#table{
    display: flex;
    margin:auto;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 625px;
    font-family: 'Alata', sans-serif;
    background:lightgray;
    padding: 20px 20px;
    color: black;
    
}
.table th {
    background: black;
    color: black;
}
table td{
  color:black ;
}
.table tbody tr:last-of-type {
    border-bottom: 2px solid black;
   
}

.chart{
    width:100%;
    max-width:1000px;
    margin: auto;
}
.anychart-credits {
  display: none;
}

body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;color: black ;}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

