#table{
    display: flex;
    margin:auto;
    overflow: hidden;
    overflow-y: scroll;
    height: 500px;
    width: 800px;
    font-family: 'Alata', sans-serif;
    background:rgb(206, 217, 219);
    padding: 20px 20px;
    color: rgb(6, 79, 93);
}
table,td,th{
  border-spacing: 15px;
}
.chart{
    width:100%;
    max-width:1000px;
    margin: auto;
}
.anychart-credits {
  display: none;
}
#chart3{
  height:450px;
}

#container{
  height:450px;
}
body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
.w3-bar,h1,button {font-family: "Montserrat", sans-serif}
.fa-anchor,.fa-coffee {font-size:200px}

